{mod_cond, all}.
{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.
{sub_dirs, [
    "rel",
    "src"
]}.
{deps, [
    {cowboy, "1.1.2", {git, "git://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}},
    {jsx, "2.8.0", {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}},
    {lager, "3.2.1", {git, "https://github.com/basho/lager.git", {tag, "3.2.1"}}}
]}.
{relx, [
    {release, {carbonara, "1"},
    [sasl, carbonara]},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true}
]}.
{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
             {overlay, [
                 {copy, "files/prod.config",
                     "releases/\{\{rel_vsn\}\}/sys.config"}
             ]},
            {include_erts, true}
        ]}
    ]}
]}.
{erl_opts, [
    {parse_transform, lager_transform}
]}.
